.asied_bar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 25px;
    left: 15px;
    border-radius: 16px;
    box-shadow:  0px 0px 12px 3px #0d275029, 0px 0px 7px 1px #ffffff14;
    border: 3px solid #0d275016;
    width: 120PX;
    height: 620px;
    overflow: hidden;
    text-align: center;
}

.asied_bar img{
    width: 80px!important;
    border-radius: 50%;
}

.buttons a{
    font-size: 9px;
}


.center{
    margin-top: 7px;
}

.buttons a{
    margin-top: 15px;
    border-radius: 8px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #2f2f31c4;
}

.buttons a:hover{
    transition: all .3s linear!important;
    background: #d3082d!important;
    border-radius: 7px;
    color: #ffff!important;
}



.inline_disp{
    margin-left: 140px!important;
    padding: 12px 24px;
    box-sizing: inherit;
    display: block;
    text-align: center;
    overflow: auto;
}

.img_res{
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    /* box-shadow: -31px -31px 43px 8px #0d2750a4 , 26px 26px 48px 8px #ffffff25; */
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.loct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.port_sec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.border_rad{
    border-radius: 7px;
}

.border_rad_2{
    border-radius: 5px;
}

.person_sec{
    margin: 40px -5px -65px 0;
}

#per_text::after{
    content: "";
    width: 195px;
    height: 3px;
    border-radius: 10px;
    background: #e13d5a;
    display: block;
    margin-top: 8px;
}

.person_box{
    background: #45464f;
    width: 330px;
    height: 90px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    margin-bottom: 12px;
    transition: all .3s linear;
}

.person_box img{
    width: 65px!important;
    border-radius: 50%;
}

.person_box .text_1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.person_box .text_1 .t_1{
    font-size: 16px; 
    position: relative;
    left: 0;
    margin-bottom: 7px;
}

.person_box .text_1 .t_2{
    font-size: 13px;
    position: relative;
    left: -6px;
}

#person_1{
    margin-bottom: 35px;
}


#person_1:hover{
    transform: scale(1.05);
    box-shadow:  0px 0px 10px 1px  #444444e9;
}

#person_2:hover{
    transform: scale(1.05);
    box-shadow:  0px 0px 10px 1px  #444444e9;
}

.t_1_a{
    font-size: 16px;
    position: relative;
    left: -9px;
    margin-bottom: 7px;
}

.t_2_a{
    font-size: 13px;
}

.shadow_animat{
    background: red;
    width: 989px;
    height: 803px;
    display: flex;
    z-index: -1;
    box-sizing: border-box;
    border-radius: 17px;
    position: absolute;
    top: 52px;
    left: 523px;
}

.shadow_animat::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 17px;
    background: linear-gradient(45deg , #232429 , #d60e32 , #d1cd23 , #4f43a8 , #e13d5a);
    /* #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000 */
    background-size: 400px;
    animation: animat 30s linear infinite;
}

.shadow_animat::after{
    filter: blur(50px);
}

@keyframes animat {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 350% 0;
    }
    0%{
        background-position: 0 0;
    }
    
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1050px;
    height: 810px;
    transform: translate(327px, 36px);
}

.count_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 75px 0;
}

.counter{
    width: 207px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #616161;
    color: #cbcbcb;
    border-radius: 7px;
    cursor: pointer;
    padding: 28px 0px;
    transition: all .4s ease;
}

.count_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}

.ct_1{
    font-weight: 500;
    font-size: 26px;
}

.ct_2{
    font-weight: 600;
    font-size: 22px;
}

#cout_1:hover{
    transform: scale(1.05);
    box-shadow:  0px 0px 10px 1px #d60e33b7;
}

#cout_2:hover{
    transform: scale(1.05);
    box-shadow:  0px 0px 10px 1px #d1ce23b7;
}

#cout_3:hover{
    transform: scale(1.05);
    box-shadow:  0px 0px 10px 1px  #4f43a8bf;
}

#cout_4:hover{
    transform: scale(1.05);
    box-shadow:  0px 0px 10px 1px  #444444e9;
}

.ref_color{
    background: #1f1f1fb9;
}

.ref_color_2{
    background: #3a3a3b;
}

