/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
/* grid queries */
@media (min-width: 601px) {
    .w3-col.m1 {
        width:8.33333%
    }

    .w3-col.m2 {
        width: 16.66666%
    }

    .w3-col.m3,.w3-quarter {
        width: 24.99999%
    }

    .w3-col.m4,.w3-third {
        width: 33.33333%
    }

    .w3-col.m5 {
        width: 41.66666%
    }

    .w3-col.m6,.w3-half {
        width: 49.99999%
    }

    .w3-col.m7 {
        width: 58.33333%
    }

    .w3-col.m8,.w3-twothird {
        width: 66.66666%
    }

    .w3-col.m9,.w3-threequarter {
        width: 74.99999%
    }

    .w3-col.m10 {
        width: 83.33333%
    }

    .w3-col.m11 {
        width: 91.66666%
    }

    .w3-col.m12 {
        width: 99.99999%
    }
}

@media (min-width: 993px) {
    .w3-col.l1 {
        width:8.33333%
    }

    .w3-col.l2 {
        width: 16.66666%
    }

    .w3-col.l3 {
        width: 24.99999%
    }

    .w3-col.l4 {
        width: 33.33333%
    }

    .w3-col.l5 {
        width: 41.66666%
    }

    .w3-col.l6 {
        width: 49.99999%
    }

    .w3-col.l7 {
        width: 58.33333%
    }

    .w3-col.l8 {
        width: 66.66666%
    }

    .w3-col.l9 {
        width: 74.99999%
    }

    .w3-col.l10 {
        width: 83.33333%
    }

    .w3-col.l11 {
        width: 91.66666%
    }

    .w3-col.l12 {
        width: 99.99999%
    }
}
/* responsive queres */



@media (max-width: 1350) {
    .shadow_animat{
        width: 857px!important;
    }
}

@media (max-width: 1200px) {
    .count_bar{
        flex-wrap: wrap;
    }

    .counter{
        margin-top: 15px;
        margin-left: 0;
    }
    #cout_1{
        width: 100%;
    }
    #cout_1  .ct_1 , .ct_2{
        font-weight: 300!important;
    }
    #cout_2 , #cout_3 , #cout_4{
        width: 315px;
    }

}


@media (max-width: 1205px) {
    .w3-auto {
        max-width:95%
    }
    .shadow_animat{
        width: 820px!important;
    }
}

@media (max-width: 1160px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 290px;
    }
}

@media (max-width: 1105px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 265px;
    }
    .pics{
        width: 415px!important;
        height: 393px!important;
    }
}

@media (max-width: 1050px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 235px;
    }
    .pics{
        width: 395px!important;
        height: 393px!important;
    }
}

@media (max-width: 990px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 220px!important;
    }
    .shadow_animat{
        width: 670px!important;
    }
    .pics{
        width: 375px!important;
        height: 393px!important;
    }
}

@media (max-width: 960px) {
    .pics{
        width: 350px!important;
        height: 393px!important;
    }
}

@media (max-width: 910px) {
    .pics{
        width: 325px!important;
        height: 324px!important;
    }
}

@media (max-width: 870px) {
    .pics{
        width: 300px!important;
        height: 324px!important;
    }
}

@media (max-width: 890px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 200px!important;
    }
    #cout_3 .ct_1{
        font-size: 25px;
    }
    #cout_4 .ct_1{
        font-size: 25px;
    }
    #cout_2 .ct_1{
        font-size: 25px;
    }

    #cout_4 .ct_2{
        font-size: 20px;
        font-weight: 300;
    }
    #cout_3 .ct_2{
        font-size: 20px;
        font-weight: 300;
    }
    #cout_2 .ct_2{
        font-size: 20px;
        font-weight: 300;
    }
}


@media (max-width: 630px) {
    .dis_none{
        display: none!important;
    }
}

@media (max-width: 470px) {
    .dis_none_2{
        display: none!important;
    }
}

@media (max-width: 810px) {
    #cout_1{
        width: 100%;
    }
    #cout_2 , #cout_3 , #cout_4{
        width: 232px!important;
    }
}

@media (max-width: 830px) {
    .asied_bar{
        display: none!important;
    }
     
    .inline_disp.mar_0{
        width: 100%;
        margin-left: 0!important;
    }
    .dis_black{
        display: block!important;
    }

}

@media (max-width: 785px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 220px!important;
    }
    .pics{
        width: 320px!important;
        height: 393px!important;
    }
}

@media (max-width: 750px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 200px!important;
    }

    .locat_dis .contact_text{
        font-size: 19px;
    }

    .locat_dis .icon_size{
        font-size: 28px;
    }

}

@media (max-width: 710px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 190px!important;
    }
    .pics{
    width: 252px!important;
    height: 377px!important;
    }
}

@media (max-width: 700px) {
    #cout_1 ,#cout_2 , #cout_3 , #cout_4{
        width: 295px!important;
    }
}

@media (max-width: 660px) {
    #cout_1 ,#cout_2 , #cout_3 , #cout_4{
        width: 278px!important;
    }

    .locat_dis .contact_text{
        font-size: 18px;
    }

    .locat_dis .icon_size{
        font-size: 28px;
    }
}

@media (max-width: 635px) {
    #cout_1 ,#cout_2 , #cout_3 , #cout_4{
        width: 258px!important;
    }
    .pics{
        width: 252px!important;
        height: 377px!important;
        gap: 5px;
    }

    .locat_dis .contact_text{
        font-size: 15px;
    }

    .locat_dis .icon_size{
        font-size: 23px;
    }
}

@media (max-width: 577px) {
    .pics{
        width: 229px!important;
        height: 377px!important;
        gap: 5px;
    }

    .locat_dis .contact_text{
        font-size: 12px;
    }

    .locat_dis .icon_size{
        font-size: 18px;
    }
}

@media (max-width: 475px) {
    .pics{
        width: 192px!important;
        height: 329px!important;
        gap: 1px;
    }
}

@media (max-width: 470px) {
    .pics{
        width: 176px!important;
        height: 336px!important;
        gap: 1px;
    }
}

@media (max-width: 530px) {
    .pics{
        width: 200px!important;
        height: 353px!important;
        gap: 5px;
    }
    .pics.mart_1{
        margin-top: 5px!important;
    }
}

@media (max-width: 590px) {
    #cout_1 ,#cout_2 , #cout_3 , #cout_4{
        width: 238px!important;
    }
}

@media (max-width: 540px) {
    #cout_1 ,#cout_2 , #cout_3 , #cout_4{
        width: 218px!important;
    }
}

@media (max-width: 510px) {
    #cout_1 ,#cout_2 , #cout_3 , #cout_4{
        width: 208px!important;
    }
}

@media (max-width: 490px) {
    #cout_1 ,#cout_2 , #cout_3 , #cout_4{
        width: 100%!important;
    }
}


@media (max-width: 600px) {
    .w3-modal-content {
        margin:0 10px;
        width: auto!important
    }

    .w3-modal {
        padding-top: 30px
    }

    .w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content {
        position: relative
    }

    .w3-hide-small {
        display: none!important
    }

    .w3-mobile {
        display: block;
        width: 100%!important
    }

    .w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile {
        text-align: center
    }

    .w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button {
        width: 100%
    }

}

@media (max-width: 768px) {
    .w3-modal-content {
        width:500px
    }

    .w3-modal {
        padding-top: 50px
    }
}

@media (max-width: 995px) {
    #cout_2 , #cout_3 , #cout_4{
        width: 253px;
    }
}

@media (min-width: 993px) {
    .w3-modal-content {
        width:900px
    }

    .w3-hide-large {
        display: none!important
    }

    .w3-sidebar.w3-collapse {
        display: block!important
    }
}

@media (max-width: 992px) and (min-width:601px) {
    .w3-hide-medium {
        display:none!important
    }
}

@media (max-width: 992px) {
    .w3-sidebar.w3-collapse {
        display:none
    }

    .w3-main {
        margin-left: 0!important;
        margin-right: 0!important
    }

    .w3-auto {
        max-width: 100%
    }
}