.cont_sec{
    box-shadow: var(--shadow_01);
    border: 3px solid #2a9d8f;
    padding: 3px 5px;
    width: 500px;
    height: 450px;
    margin: 105px auto;
    border-radius: 12px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.cont_form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background: #005f73; */
    box-shadow: var(--shadow_10);
    padding: 15px 25px;
    border-radius: 8px;
    margin: 0 auto;
    color: var(--text_color04);
    position: relative;
}

.cont_form .inp{
    background: transparent;
    margin: 15px 20px;
}

.cont_form .inp input{
    border-radius: 3px;
    background: transparent;
    border: 1.6px solid #495057;
    padding: 3px 8px;
}

.cont_form .inp input:focus{
    border: 1.9px solid #5f0011;
}

.cont_form .inp input:user-valid {
    border: 1.9px solid var(--background_color12)!important;
}

#phon_inp{
    margin-left: 19px;
}

#email_inp{
    margin-left: 21px;
}

.color_te{
    color: var(--text_color03);
}

.btn_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -62px;
    right: 0;
}

.inp_btn{
    /* background: var(--background_color06); */
    padding: 8px 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.delet_btn{
    background: var(--background_color10);
}

.delet_btn:hover{
    background: var(--background_color09);
}

.edit_btn{
    background: var(--background_color13);
}

.edit_btn:hover{
    background: var(--background_color12);
}



