.asied_bar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 25px;
    left: 15px;
    border-radius: 16px;
    box-shadow:  0px 0px 12px 3px #0d275029, 0px 0px 7px 1px #ffffff14;
    border: 3px solid #0d275016;
    width: 120PX;
    height: 620px;
    overflow: hidden;
    text-align: center;
}

.asied_bar img{
    width: 80px!important;
    border-radius: 50%;
}

.buttons a{
    font-size: 9px;
}


.center{
    margin-top: 7px;
}

.buttons a{
    margin-top: 15px;
    border-radius: 8px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #2f2f31c4;
}

.buttons a:hover{
    transition: all .3s linear!important;
    background: #264653!important;
    border-radius: 7px;
    color: #ffff!important;
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin:25px 110px;
    z-index: 3;
    background: #4e4e4e9b;
    backdrop-filter: blur(5px);
    border-radius: 70px;
    width: auto;
    padding: 2.5px;
}

.buttons_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.buttons_nav a{
    text-align: center;
    border-radius: 63px;
    margin-left: 17px;
}

.buttons_nav .center{
    margin-top: 0;
}

.buttons_nav .center i{
    font-size: 24px!important;
    margin-top: 0;
}

.buttons_nav .center p{
    display: none;
}

.nav_bar img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 2px;
    cursor: pointer;
}

.nav_bar img:hover{
    width: 57px;
    height: 57px;
}

.dis_black{
    display: none;
    transition: all .4s linear;
    width: auto;
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
}